<div class="landing">
    <!-- NAVBAR -->
    <app-landing-navbar [loggedInUser]="loggedInUser"></app-landing-navbar>

    <!-- HERO -->
    <app-landing-hero></app-landing-hero>

    <!-- SERVICES -->
    <app-landing-services></app-landing-services>

    <!-- LAYOUTS -->
    <app-landing-layout-demo></app-landing-layout-demo>

    <!-- FEATURES -->
    <app-landing-features></app-landing-features>

    <!-- PRICING -->
    <app-landing-pricing></app-landing-pricing>

    <!-- FAQ -->
    <app-landing-faq></app-landing-faq>

    <!-- TESTIMONIAL -->
    <app-landing-testimonial></app-landing-testimonial>

    <!-- CONTACT -->
    <app-landing-contact-us></app-landing-contact-us>

    <!-- FOOTER -->
    <app-landing-footer></app-landing-footer>
    <!-- Back to top -->
    <a href="javascript:void(0)" (click)="topFunction()" class="back-to-top-btn btn btn-primary" id="back-to-top-btn"><i
            class="mdi mdi-chevron-up"></i></a>
</div>