<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Portlets"></app-page-title>

<div class="row">
    <div class="col-lg-4" *ngFor="let card of basicPortlets">
        <!-- Portlet card -->
        <app-ui-portlet-card cardTitle="Card Title" [cardClasses]="card.cardClasses"
            [cardTitleClass]="card.cardTitleClasses">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia
            aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt
            aliqua
            put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </app-ui-portlet-card>
    </div><!-- end col -->
</div>


<div class="row">
    <div class="col-lg-4" *ngFor="let card of portletsWithHeader">
        <app-portlet-with-header [cardHeaderClass]="card.cardClasses" [cardTitleClass]="card.cardTitleClasses">
        </app-portlet-with-header>
    </div>
    <!-- end col -->
</div>
<!-- end row -->