<div class="inbox-leftbar">
        <!-- dynamic content -->
        <ng-content></ng-content>

        <div class="mail-list mt-4">
                <a href="javascript: void(0);" class="text-danger fw-bold"><i
                                class="dripicons-inbox me-2"></i>Inbox<span
                                class="badge badge-soft-danger float-end ms-2">7</span></a>
                <a href="javascript: void(0);"><i class="dripicons-star me-2"></i>Starred</a>
                <a href="javascript: void(0);"><i class="dripicons-clock me-2"></i>Snoozed</a>
                <a href="javascript: void(0);"><i class="dripicons-document me-2"></i>Draft<span
                                class="badge badge-soft-info float-end ms-2">32</span></a>
                <a href="javascript: void(0);"><i class="dripicons-exit me-2"></i>Sent Mail</a>
                <a href="javascript: void(0);"><i class="dripicons-trash me-2"></i>Trash</a>
                <a href="javascript: void(0);"><i class="dripicons-tag me-2"></i>Important</a>
                <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Spam</a>
        </div>

        <h6 class="mt-4">Labels</h6>

        <div class="list-group b-0 mail-list">
                <a href="javascript: void(0);" class="list-group-item border-0"><span
                                class="mdi mdi-circle text-info me-2"></span>Web App</a>
                <a href="javascript: void(0);" class="list-group-item border-0"><span
                                class="mdi mdi-circle text-warning me-2"></span>Recharge</a>
                <a href="javascript: void(0);" class="list-group-item border-0"><span
                                class="mdi mdi-circle text-dark me-2"></span>Wallet
                        Balance</a>
                <a href="javascript: void(0);" class="list-group-item border-0"><span
                                class="mdi mdi-circle text-primary me-2"></span>Friends</a>
                <a href="javascript: void(0);" class="list-group-item border-0"><span
                                class="mdi mdi-circle text-success me-2"></span>Family</a>
        </div>

</div>