<app-default-layout2>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-bordered">
        <li ngbNavItem="login">
            <a ngbNavLink>Log In</a>
            <ng-template ngbNavContent>
                <p class="text-muted mb-3">Enter your email address and password to access account.</p>

                <!-- form -->
                <form name="login-form" [formGroup]="loginForm2" (ngSubmit)="onLogin()">
                    <ngb-alert type="danger" *ngIf="loginError" [dismissible]="false">{{ loginError }}
                    </ngb-alert>
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input class="form-control" type="email" id="emailaddress" placeholder="Enter your email"
                            formControlName="email"
                            [ngClass]="{'is-invalid': loginFormSubmitted && loginFormFields.email.invalid}" required>

                        <div *ngIf="loginFormSubmitted && loginFormFields.email.invalid" class="invalid-feedback">

                            <div *ngIf="loginFormFields.email.errors?.required">
                                Email is required.
                            </div>
                            <div *ngIf="loginFormFields.email.errors?.email">
                                Email must be a valid Email Address
                            </div>

                        </div>

                    </div>
                    <div class="mb-3">
                        <a [routerLink]="['../reset-password2']" class="text-muted float-end"><small>Forgot your
                                password?</small></a>
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" required="" id="password"
                            placeholder="Enter your password" formControlName="password" required minlength="4"
                            [ngClass]="{'is-invalid': loginFormSubmitted && loginFormFields.password.invalid}">
                        <div *ngIf="loginFormSubmitted && loginFormFields.password.invalid" class="invalid-feedback">

                            <div *ngIf="loginFormFields.password.errors?.required">
                                Password is required.
                            </div>
                            <div *ngIf="loginFormFields.password.errors?.minlength">
                                Password length must be greater than 3.
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-signin">
                            <label class="form-check-label" for="checkbox-signin">Remember me</label>
                        </div>
                    </div>
                    <div class="text-center d-grid">
                        <button class="btn btn-primary" type="submit">Log In </button>
                    </div>
                </form>
                <!-- end form-->
            </ng-template>
        </li>
        <li ngbNavItem="signup">
            <a ngbNavLink>Sign Up</a>
            <ng-template ngbNavContent>
                <p class="text-muted mb-3">Don't have an account? Create your account, it takes less than a minute</p>

                <!-- form -->
                <form name="signup-form" [formGroup]="signUpForm2" (ngSubmit)="onSignup()">
                    <ngb-alert type="danger" *ngIf="signupError" [dismissible]="false">{{ signupError }}
                    </ngb-alert>
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required
                            formControlName="name"
                            [ngClass]="{'is-invalid': signupFormSubmitted && signupFormFields.name.invalid}">
                        <div *ngIf="signupFormSubmitted && signupFormFields.name.invalid" class="invalid-feedback">

                            <div *ngIf="signupFormFields.name.errors?.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input class="form-control" type="email" id="emailaddress" required
                            placeholder="Enter your email" formControlName="email"
                            [ngClass]="{'is-invalid': signupFormSubmitted && signupFormFields.email.invalid}">
                        <div *ngIf="signupFormSubmitted && signupFormFields.email.invalid" class="invalid-feedback">

                            <div *ngIf="signupFormFields.email.errors?.required">
                                Email is required.
                            </div>
                            <div *ngIf="signupFormFields.email.errors?.email">
                                Email must be a valid Email Address
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" formControlName="password" required minlength="4"
                            [ngClass]="{'is-invalid': signupFormSubmitted && signupFormFields.password.invalid}"
                            placeholder="Enter your password">

                        <div *ngIf="signupFormSubmitted && signupFormFields.password.invalid" class="invalid-feedback">

                            <div *ngIf="signupFormFields.password.errors?.required">
                                Password is required.
                            </div>
                            <div *ngIf="signupFormFields.password.errors?.minlength">
                                Password length must be greater than 3.
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-signup">
                            <label class="form-check-label" for="checkbox-signup">I accept <a
                                    href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                        </div>
                    </div>
                    <div class="text-center d-grid">
                        <button class="btn btn-primary waves-effect waves-light" type="submit"> Sign Up </button>
                    </div>
                </form>
                <!-- end form-->
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
    </div>

    <!-- <footer class="footer footer-alt">
        <p class="text-muted">2015 -
            {{currentYear | date : 'yyyy'}} &copy; UBold theme by <a href="javascript: void(0);"
                class="text-muted">Coderthemes</a>
        </p>
    </footer> -->

</app-default-layout2>