<app-default-layout containerClass="account-pages mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card bg-pattern">

                <div class="card-body p-4">

                    <div class="text-center mb-4">
                        <div class="auth-logo">
                            <a [routerLink]="'../../dashboard-1'" class="logo logo-dark text-center">
                                <span class="logo-lg">
                                    <img src="../assets/images/Artboard 2 copy.png" alt="" height="22">
                                </span>
                            </a>

                            <a [routerLink]="'../../dashboard-1'" class="logo logo-light text-center">
                                <span class="logo-lg">
                                    <img src="../assets/images/Artboard 2.png" alt="" height="22">
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="text-center w-75 m-auto">
                        <img src="../assets/images/users/user-1.jpg" height="88" alt="user-image"
                            class="rounded-circle shadow">
                        <h4 class="text-dark-50 text-center mt-3">Hi ! Geneva </h4>
                        <p class="text-muted mb-4">Enter your password to access the admin.</p>
                    </div>


                    <form name="lock-screen-form" [formGroup]="lockScreenForm" (ngSubmit)="onSubmit()">

                        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" required id="password"
                                placeholder="Enter your password" minlength="4" formControlName="password"
                                [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">

                            <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">

                                <div *ngIf="formValues.password.errors?.required">
                                    Password is required.
                                </div>
                                <div *ngIf="formValues.password.errors?.minlength">
                                    Password length must be greater than 3.
                                </div>

                            </div>
                        </div>

                        <div class="text-center d-grid">
                            <button class="btn btn-primary" type="submit"> Log In </button>
                        </div>

                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="text-white-50">Not you? return <a [routerLink]="['../login']"
                            class="text-white ms-1"><b>Sign
                                In</b></a>
                    </p>
                </div> <!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- end col -->
    </div>
    <!-- end row -->
</app-default-layout>